<template name="cramupsignup">

  <!--=== Breadcrumbs v4 ===-->
  <div class="breadcrumbs-v4">
    <div class="container">
      <span class="page-name">注册</span>

      <h1>加入 <span class="shop-green">CramUp.CN</span> 再也没有记不住</h1>
      <ul class="breadcrumb-v4-in">
        <li><a href="/">首页</a></li>
        <li class="active">注册</li>
      </ul>
    </div>
    <!--/end container-->
  </div>
  <!--=== End Breadcrumbs v4 ===-->

  <!--=== Registre ===-->
  <div class="log-reg-v3 content-md margin-bottom-30">
    <div class="container">
      <div class="row">
        <div class="col-md-7 md-margin-bottom-50">
          <h2 class="welcome-title">Welcome to Unify</h2>

          <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit
            vehicula massa.</p><br>

          <div class="row margin-bottom-50">
            <div class="col-sm-4 md-margin-bottom-20">
              <div class="site-statistics">
                <span>20,039</span>
                <small>Products</small>
              </div>
            </div>
            <div class="col-sm-4 md-margin-bottom-20">
              <div class="site-statistics">
                <span>54,283</span>
                <small>Reviews</small>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="site-statistics">
                <span>376k</span>
                <small>Sale</small>
              </div>
            </div>
          </div>
          <div class="members-number">
            <h3>Join more than <span class="shop-green">13,000</span> members worldwide</h3>
            <img class="img-responsive" src="assets/img/map.png" alt="">
          </div>
        </div>

        <div class="col-md-5">
          <form id="sky-form4" class="log-reg-block sky-form">
            <h2>账号注册</h2>

            <div class="login-input reg-input">
              <section>
                <label class="input">
                  <input type="email" name="email" placeholder="邮箱" class="form-control newEmail">
                </label>
              </section>
              <section>
                <label class="input">
                  <input type="password" name="password" placeholder="密码" id="password" class="form-control newPassword">
                </label>
              </section>
              <section>
                <label class="input">
                  <input type="password" name="passwordConfirm" placeholder="重复密码" class="form-control">
                </label>
              </section>
            </div>

            <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">注册</button>
          </form>

          <div class="margin-bottom-20"></div>
          <p class="text-center">我已注册? <a href="shop-ui-login.html">登录</a></p>
        </div>
      </div>
      <!--/end row-->
    </div>
    <!--/end container-->
  </div>
  <!--=== End Registre ===-->

  <!--=== Shop Suvbscribe ===-->
  <div class="shop-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-8 md-margin-bottom-20">
          <h2>subscribe to our weekly <strong>newsletter</strong></h2>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
          </div>
        </div>
      </div>
    </div>
    <!--/end container-->
  </div>
  <!--=== End Shop Suvbscribe ===-->
</template>
