<!--新建卡片的模版-->
<template name="newFlashcard">
  <div class="container" style="margin-top: 30px;margin-bottom:30px;">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h3>新建卡片</h3>
        </div>
        <form action="#" class='form-horizontal'>
          {{> flashcardForm }}
          <div class="form-actions">
            {{> flashcardButtons }}
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="flashcardForm">
  <div class="form-group">
    <label for="front" class="control-label col-sm-4">
      正面
      <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront hidden-xs">添加图片</button>
    </label>

    <div class="input-group col-sm-8">
      <span class="formSpanReplacement"></span>

      <div name="front" id="newFront" class="flashcard flashcardNoMargin formSpanAdjustment" contentEditable="false">
        <a href='{{newFrontPicture}}' class="flashcardPicture pull-right slimboxPicture">
          {{#if newFrontPicture}}
            <img src="{{newFrontPicture}}/convert?h=80&w=80" class="editableImage"/>
          {{else}}
            &nbsp;
          {{/if}}
        </a>

        <div name="front" class="flashcardFront" contentEditable="true" style="height: 100px;border:1px red solid;">
          {{{front}}}
        </div>
      </div>

    </div>
    <div class="col-sm-8 visible-xs">
      <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToFront">
        Add Picture
      </button>
    </div>
  </div>
  <div class="form-group itemSpecific" style="display: none;">
    <label for="frontNote" class="control-label col-sm-4">Front note</label>

    <div class="input-group col-sm-8">
      <span class="formSpanReplacement"></span>

      <div name="frontNote" id="frontNote" class="flashcard flashcardNoMargin formSpanAdjustment" contentEditable="true"
           placeholder="taki?" data-placeholder="czy taki?">{{frontNote}}</div>
    </div>
  </div>
  <div class="form-group">

    <label for="back" class="control-label col-sm-4">背面
      <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack hidden-xs">添加图片
      </button>
    </label>

    <div class="input-group col-sm-8">
      <span class="formSpanReplacement"></span>

      <div name="back" id="newBack" class="flashcard flashcardNoMargin formSpanAdjustment"
           contentEditable="false">
        <a href='{{newBackPicture}}' class="flashcardPicture pull-right slimboxPicture">{{#if
        newBackPicture}}<img src="{{newBackPicture}}/convert?h=80&w=80" class="editableImage"/>{{else}}&nbsp;{{/if}}</a>

        <div name="back" class="flashcardBack" contentEditable="true"
             style="height: 100px;border:1px red solid;">{{{back}}}</div>
      </div>

    </div>
    <div class="col-sm-8 visible-xs">
      <button class="btn btn-primary btn-primary-main btn-block btn-addPictureToBack">Add Picture
      </button>
    </div>
  </div>
  <div class="form-group itemSpecific" style="display: none;">
    <label for="frontNote" class="control-label col-sm-4">Back note</label>

    <div class="input-group col-sm-8">
      <span class="formSpanReplacement"></span>

      <div name="backNote" id="backNote" class="flashcard flashcardNoMargin formSpanAdjustment" contentEditable="true"
           placeholder="taki?" data-placeholder="czy taki?">{{backNote}}</div>
    </div>
  </div>
  <div id="advancedSettings" style='display: none;'>

    {{> publicGroup }}


    {{> collectionGroup }}

    {{> lessonGroup }}

    <div class="form-group" id="sourcesControlGroup" style="display: none;">
      <label class="control-label">Sources</label>

      <div class="input-group col-sm-8">
        <input type="text" name="youtubeSource" id="youtubeSource" placeholder="Youtube Link"/><br/>
        <input type="text" name="wikipediaSource" id="wikipediaSource"
               placeholder="Wikipedia Link"/><br/>
        <input type="text" name="linkSource" id="linkSource" placeholder="Other Link"/> <br/>
        <input type="text" name="khanSource" id="khanSource" placeholder="KhanAcademy Video"/> <br/>
        <input type="text" name="otherSource" id="otherSource"
               placeholder="Other source (bk, movie, article, common knowledge)"/> <br/>
      </div>
    </div>
  </div>

</template>

<template name="lessonGroup">

  <div class="form-group" id="coursesControlGroup">
    <label class="control-label col-sm-4">课程</label>

    <div class="col-sm-8">
      <span class="formSpanReplacement"></span>

      <select name="course" id="course" class="select2 width100">
        <option>不添加到任何课程</option>

        {{#each course}}
          <option value="{{_id}}"
            {{selectIfSelectedCourse}}>{{name}}</option>
        {{/each}}

      </select>
    </div>
  </div>
  <div class="form-group" id="lessonControlGroup" style=''>
    <label class="control-label col-sm-4">课时</label>

    <div class="col-sm-8">

      <select name="lesson" id="lesson" class="select2 width100">
        <option value="">不添加到任何课时</option>

        {{#each lesson}}
          <option value="{{_id}}" id="{{_id}}"
            {{selectIfSelectedLesson}}>{{name}}</option>
        {{/each}}

      </select>
    </div>
  </div>
</template>

<template name="flashcardButtons">

  <button type="submit" class="btn btn-primary btn-primary-main btn-submit">添加卡片</button>
  <button class="btn btn-primary btn-primary-main btn-showAdvanced">显示高级设置</button>
</template>

<template name="publicGroup">
  <div class="form-group">
    <label class="control-label col-sm-4">公开?</label>

    <div class="input-group col-sm-8">
      <span class="formSpanReplacement"></span>

      <label class='switch formSpanAdjustment'>

        <div class="switch switch-small" data-on-label="Yes" data-off-label="No">
          <input type="checkbox" name="public" id="public" value="true" checked="checked"/>
        </div>
        <br/>是否愿意这个卡片被别人搜到?<br/>
        <small>这个卡片是只能自己用，还是其他用户可以共同学习?</small>

      </label>
    </div>
  </div>
</template>


<template name="collectionGroup">
  <div class="form-group">
    <label class="control-label col-sm-4">集合</label>

    <div class="col-sm-6">
      <span class="formSpanReplacement"></span>

      <input type="hidden" name="collection" id="collection" class="select2 width100"/>

    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-primary-main btn-collectionModal width100">添加新集合</button>
    </div>
  </div>
</template>


<template name="editFlashcardPrompt">
  <div class="box-content modalInfo" id="editFlashcardPrompt">
    You are about to change the FlashCard, your changes will affect all TheBrain users.
    If you want to add personal information to the FlashCard please use the 'notes' fields.
    If you do want to change the FlashCard, please provide a reason for change.
  </div>
  <form class="form-validate form-horizontal form-bordered top-bordered" id="reasonForChange">

    <div class="form-group" id="reasonFormGroup">
      <label class="control-label hidden-xs col-sm-4">Reason for update</label>

      <div class="input-group col-sm-8">
        <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
        <input class="form-control" type="text" name="reason"
               id="reason" placeholder="Reason for update" required/><br/>
      </div>
    </div>
  </form>
</template>
